@import "templatic_mixins";

@mixin transition-eio {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

@mixin box-shadow-ccc {
	-webkit-box-shadow: 0 0 2px 0 #ccc;
	box-shadow: 0 0 2px 0 #ccc;
}
@media #{$xsmall-only} {
    .xsmall-only-text-left    { text-align: left !important; }
    .xsmall-only-text-right   { text-align: right !important; }
    .xsmall-only-text-center  { text-align: center !important; }
    .xsmall-only-text-justify { text-align: justify !important; }
}


// ********* custom ********
label {
	&:hover {
		cursor:none;
	}
}
.header {
	margin-bottom:20px;
}
body {
	line-height:1.6;
	word-wrap:break-word;
}
.sidebar-2c-l {
	#main {
		float:right;
	}
}
.inline {
	> li {
		display:inline-block;	
	}
	margin:0;
}
ul.no-style {
	list-style:none;
}
.lpn {
	padding-left:0 !important;
}
.rpn {
	padding-right:0 !important;
}
.lmn {
	margin-left:0 !important;
}
.tmn {
	margin-top:0 !important;
}
.text-right {
	text-align:right;
}
a {
	@include transition-eio;
}
.small-float-left {
	@media #{$small-only} {
		float:left !important;
	}
}
.hide-for-xsmall-only {
	@media #{$xsmall-only} {
		display:none !important;
	}
}
// bottons 
button, .button, input[type="submit"]{
	position:relative;
	@include radius($button-radius);
	@include transition-eio;
}
.button-group button, .button-group .button {
	@include radius(0);
}
.postfix.button {
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}


// ********* post *********
#autho-post-view {
	margin-bottom:rem-calc(10);
	ul.pagination {
		height:auto;
		li {
			margin-bottom:rem-calc(8);
		}
	}
	.view-desc {
		width:100%;
	}
}
.profile-image {
	img {
		border: medium none;
	    border-radius: 100px;
	    float: left;
	    margin: 0 15px 5px 0;
	    padding: 0;
	    max-width:80px;
	    width:100%;
	}
	@media #{$small-to} {
		text-align:center;
		img {
			float:none;
			margin:rem-calc(0 0 15);
		}
	}
}
.profile-content {
	overflow:hidden;
	word-wrap: break-word;
	p {
		margin-bottom:rem-calc(5px);
		color:lighten($body-font-color,30%);
	}
	.author_name {
		font-size:rem-calc(16);
	}
}
#post-author {
    border:1px solid darken($body-bg, 10%);
	background-color: darken($body-bg, 4%);
    border-radius: $global-radius + 2;
    margin: 0 0 1.5em;
    padding: 15px;
    min-height:110px;
    .author_name {
    	span {
    		font-size:rem-calc(14);
    	}
    }
}
.profile-links {
	span {
		font-size:rem-calc(12);
		vertical-align:1px;
	}
	a {
		display:inline-block;
		margin-right:rem-calc(8);
	}
}
.wp-caption img + p.wp-caption-text {
	margin-bottom:0;
}
.entry-content pre,
.attachment-full.wp-post-image {
	margin-bottom:rem-calc(8);
}
.entry-content img + p { margin-top:rem-calc(10);}

.post-password-form {
	label {
		display: inline-block;
	}
	input[type="password"] {
    	display: inline-block;
    	width: 206px;
    }
}
table tr.even, table tr.alt, table tr:nth-of-type(2n) {
    border-top: 1px solid #DDDDDD;
}
.alignnone,
.aligncenter {
	margin-bottom:rem-calc(10);
}

// ********** header ***********
.breadcrumbs {
	padding-left:0;
	> *:before {
		content:"";
		font-family:FontAwesome;
	}
}
#inner-header h1 {
	margin-bottom:1rem;
	small {
		display:block;
		font-size:35%;
		line-height:1;
	}
}
// topbar
.top-bar {
	border-radius:$global-radius + 2;
	a:hover {
		text-decoration:none !important;
	}
	.nav-search {
		background:none;
	}
}
.top-bar-section {
	.dropdown {
		z-index:100;
	}
	ul.dropdown li:not(.has-form) a:not(.button) {
		line-height:$topbar-height - 17;
	}
}
.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
	line-height:0.2;
}
.sticky.fixed {
	.top-bar {
		border-radius:0;
		.nav-search input[type="text"] {
			margin-top:-2px;
		}
	}
}


// ********** comment ***********
.comment-author,
.byline {
	font-size:rem-calc(13);
	cite {
		font-style:normal;
	}
}
.comment-author {
	cite {
		font-size:rem-calc(18);
		color:$header-font-color;
	}
}
.comment_content p {
	color:$body-font-color;
}

.add-img {
	img {
		margin-top:rem-calc(5);
	}
}
ol.commentlist {
	margin-left:0;
	.panel {
		background:none;
		border:none;
		padding-left:0;
		padding-right:0;
		margin-bottom:0;
	}
	li.panel {
		border-top:1px solid darken($body-bg, 12%);
		
	}
	> li.panel {
		&:first-child {
			border-top:none;
		}
	}
	li.comment article {
		padding:0;
		margin-bottom: 5px;
    	//margin-top: 10px;
    	min-height:85px;
		.comment-author {
			.avatar {
				
				margin-top:5px;
				margin-bottom:10px;
				border:3px solid darken($body-bg, 12%);
			}
		}
	}
	ul.children {
		margin-left:0;
	}
	@media #{$medium-up} {
		ul.children {
			margin-left:70px;
		}
	}
	.comment-reply-link {
		float:right;
		background:none;
		color:$primary-color;
		padding:0;
		border-radius:0;
		&:hover {
			color:$body-bg;
		}
	}
	header.comment-author {
		img {
			float:left;	
			margin-right:15px;
		}
		
	}
	section.comment_content {
	    overflow:hidden;
	    word-wrap:break-word;
	}

}




// ********* listing page *********
// grid-list buttons
.filter,
.grid-list-btn {
	.button {
		margin-bottom:0;
		span {
			display:none;
		}
	}
}
#content .grid-list-btn .button-group li {
 	> button, .button {
		padding:rem-calc(2 9 1);
		background-color: darken($body-bg,10%);	//scale-color($body-bg, $lightness: -10%);
		border-radius:$global-radius + 2;
		border-bottom:1px solid scale-color($body-bg, $lightness: -20%);		//1px solid $secondary-color;
		border-top:1px solid scale-color($body-bg, $lightness: -10%);
		border-left:none;
		border-#{$opposite-direction}:none;
		margin-left:rem-calc(5);
		color:$body-font-color;
		text-shadow:none;
		i {
			font-size:rem-calc(22);
			line-height:1.2;
		}
		&.active {
			background-color: scale-color($body-bg, $lightness: -80%);		//#111;	-dark
			border-bottom:1px solid scale-color($body-bg, $lightness: -80%);
			border-top:1px solid scale-color($body-bg, $lightness: -80%);		//1px solid $secondary-color;-dark
			i {
				color:$body-bg;
			}
		}
		&:hover {
			background-color: scale-color($body-bg, $lightness: -80%);
			i {
				color:$body-bg;
			}
			
		}
	}
}
.filter {
	.custom-select {
		background-color: scale-color($body-bg, $lightness: -10%); //#111;-dark
		border-radius:$global-radius + 2;
		border-bottom:1px solid scale-color($body-bg, $lightness: -20%);
		border-top:1px solid $secondary-color;
		width: rem-calc(150);
		overflow:hidden;
		position:relative;
		select {
			color: $body-font-color;
			width:rem-calc(200);
			margin-bottom:0;
			background:none;
			border:none;
			height:rem-calc(36);
		}
		i {
			-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
			position:absolute;
			right:rem-calc(10);
			top:rem-calc(11);
			font-size:rem-calc(12);
		}
	}
} 
// TABS
.tabs {
	&.radius {
		border-bottom:2px solid scale-color($body-bg, $lightness: -20%);
		dd {
			margin-right:rem-calc(6);
			> a {
				// background:darken($body-bg, 30%);
				// color:darken($body-bg, 50%);
				@if $body-bg {
				    // This find the lightness percentage of the background color.
				    $bg-lightness: lightness($body-bg);

				    background-color: $body-bg;
				    &:hover,
				    &:focus { 
				    	background-color: scale-color($body-bg, $lightness: $button-function-factor); 
				    }

				    // We control the text color for you based on the background color.
				    @if $bg-lightness > 70% {
				      color: darken($body-bg,50%);
				      background:darken($body-bg, 10%);
				      &:hover,
				      &:focus { color: $button-font-color-alt; }
				    }
				    @else {
				      color: lighten($body-bg,50%);
				      &:hover,
				      &:focus { 
				      	color: $button-font-color; 
				      }
				    }
				  }

				transition:none;
				font-weight:normal;
				@include top-bottom-radius(top,$global-radius + 1);
				padding-top: $tabs-navigation-padding;
				padding-#{$opposite-direction}: $tabs-navigation-padding * 3;
				padding-bottom: $tabs-navigation-padding - rem-calc(3);
				padding-#{$default-float}: $tabs-navigation-padding * 3;
				

				&:focus,
				&:active,
				&:hover {
					background-color:darken($body-bg, 5%);
					text-decoration:none !important;
				}
			}
			&.active a { 
				@if $body-bg {
				    // This find the lightness percentage of the background color.
				    $bg-lightness: lightness($body-bg);

				    background-color: $body-bg;
				    &:hover,
				    &:focus { background-color: scale-color($body-bg, $lightness: $button-function-factor); }

				    // We control the text color for you based on the background color.
				    @if $bg-lightness > 70% {
				      color: darken($body-bg,50%);
				      &:hover,
				      &:focus { color: $button-font-color-alt; }
				    }
				    @else {
				      color: lighten($body-bg,50%);
				      &:hover,
				      &:focus { color: $button-font-color; }
				    }
				  }
				&:focus,
				&:active,
				&:hover {
					background-color:$body-bg;
					color:$body-font-color;
				}
				border-top:2px solid scale-color($body-bg, $lightness: -20%);
				border-#{$opposite-direction}:2px solid scale-color($body-bg, $lightness: -20%);
				border-bottom:none;
				border-#{$default-float}:2px solid scale-color($body-bg, $lightness: -20%);
				position:relative;
				top:2px;
			}
		}
	}
	&.radius {
	    dd:first-child {
	    	a { 
	    		@include top-bottom-radius(bottom,0); 
	    		@include top-bottom-radius(top,$global-radius + 1);
	    	}
	    }
	    dd:last-child {
	    	a { 
	    		@include top-bottom-radius(bottom,0); 
	    		@include top-bottom-radius(top,$global-radius + 1);
	    	}
	    }
	}
}
.tabs-content {
	margin-top:rem-calc(25);
}

// ********* detail page **********
.row.detail-title-gravitar {
	margin-bottom:rem-calc(30);
	@media #{$medium-up} {
		h1 {
			line-height:1;
		}
	}
}
header h1 + p.byline {
	margin-bottom:0;
}
.detail-title-gravitar .user-gravitar {
	width:9.6667%
}
.detail-title-gravitar .detail-title {
	width:90.3333%;
	@media #{$small-to} {
		width:100%;
	}
	h1 {
		display:block;
		margin-top:0;
	}

}
// transparent buttons
.meta-transparent-buttons {
	.disabled-btn {
		margin-left:rem-calc(8);
	}
	li:first-child {
		a.button, .button, span.button {
			border-left:1px solid darken($body-bg, 8%);
			margin-left:0;
			&:hover {
				border-left-color:$header-font-color;
			}
		}
	}
 	a.button, .button, span.button {
		@include transparent-btn;
		box-shadow:none;
		-webkit-box-shadow:none;
		text-shadow:none;
		border-radius:$global-radius;
		padding:rem-calc(7 12 5);
		font-size:rem-calc(20);
		margin-left:rem-calc(8);
		color:#999;
		i {
			padding-right:rem-calc(10);
		}
	}
	@media #{$medium-up} {
		.social-media-links {
			a.button, .button, span.button {
				padding:rem-calc(4px 9px 0);
				i { 
					font-size: 24px;
				    height: 33px;
				    line-height: 1;
				    padding: 4px 0;
				    width: 22px;
				}
			}
		}
	}
	@media #{$small-to} {
		.social-media-links {
			margin-top:rem-calc(10);
			a.button, .button, span.button {
				padding:rem-calc(4px 9px 0);
				i { 
					font-size: 24px;
				    height: 33px;
				    line-height: 1;
				    padding: 4px 0;
				    width: 22px;
				}
			}
		}
	}
	.disabled-btn {
		background:darken($body-bg, 4%);
		color:#999;
		padding:rem-calc(7 12 5);
		font-size:rem-calc(20);
		line-height:1.25;
		border-radius:$global-radius;
		border:1px solid darken($body-bg, 8%);
		i {
			padding-right:rem-calc(10);
		}
	}
}
// pop-up social
.more-social {
	position:relative;
	&:hover {
		ul.more {
			top:46px;
			opacity:1;
			z-index:9;
		}
	}
	ul.more {
		@include transition-eio;
		width:110px;
		max-width:110px;
		position:absolute;
		margin-left:0.57143rem;
		text-align:left;
		top:45px;
		left:-65%;
		opacity:0;
		border:1px solid darken($body-bg, 10%);
		background-color: darken($body-bg, 2%);
		-webkit-box-shadow: 0 0 3px 0 darken($body-bg, 10%);
		box-shadow: 0 0 3px 0 darken($body-bg, 10%);
		z-index:0;
		&:before {
			text-shadow: 0 -1px 0 darken($body-bg, 10%);
			position:absolute;
			content:"";
			font-family:FontAwesome;
			color: darken($body-bg, 2%);
		    left: 50%;
		    margin-left: -4px;
		    top: -16px;
		}
		@media #{$medium-only} {
			left:-70px;
			&:before {
				left:83%;
			}
		}
		li {
			display:block;
			width:100%;
			a { 
				font-size:rem-calc(14);
				color:lighten($body-font-color, 20%);
				padding:rem-calc(5 10);
				display:block;
				&:hover {
					background:darken($body-bg,6%);
					color:$primary-color;
					text-shadow: 0 0 1px darken($body-bg, 10%);
					text-decoration:none;
				}
				i {
					padding-right: 10px;
				    text-align: center;
				    width: 20px;
				}
			}
		}
	}
}
// transparent buttons
.transparent-btn {
	li:first-child {
		a.button, .button, span.button {
			border-left:1px solid scale-color($body-bg, $lightness: -40%);
		}
	}
 	a.button, .button, span.button {
		@include transparent-btn;
		padding:rem-calc(8 12);
		font-size:rem-calc(22);
		margin-left:rem-calc(8);
		color:#999;
		i {
			padding-right:rem-calc(10);
		}
	}
}
// Pagination
ul.pagination li a {
	background-color:darken($body-bg, 30%);
	color:$body-bg;
}

@media #{$medium-up} {
	.row {
		&.page-nav {
			margin-bottom:rem-calc(56);
		}
		&.description {
			margin-bottom:rem-calc(36);
		}
		&.detail-video {
			margin-bottom:rem-calc(26);
		}
		&.listing {
			margin-bottom:rem-calc(18);
			h1 {
				margin:0;
				line-height:normal;
			}
			.listing-header {
				margin-bottom:rem-calc(26);
			}
		}
	}
}

// prev-next buttons
.page-nav .next-icon,
.page-nav .prev-icon {
	i {
		position:absolute;
		font-size:rem-calc(20);
	}
}
.page-nav {
	span {
		font-size:rem-calc(12);
	}
	.next-icon {
		float:right;
		i {
			right:0;
			top:32%;
		}
	}
	.prev-icon i {
		left:-3px;
		top:32%;
	}
}


.prev-icon .small-12 {
	padding-left:0;
}





// ******* sidebar *******
.sidebar{
	.thumb {
		margin-bottom:rem-calc(10);
		img.thumb-img {
			border:1px solid scale-color($body-bg, $lightness: -90%);
		}
		.columns {
			margin-bottom: rem-calc(11);
		} 
		h6 {
			font-weight:bold;
		}
	} 
	> div:first-child {
		margin-top:0;
		h3 { margin-top:0;}
	}
	.widget {
		padding:0;
		.row {
			margin:0;
		}
	}
	.main-view {
		margin-bottom: rem-calc(10);
	}
	.view-img {
		@media #{$small-only} {
			max-width:90px;
		}
		@media #{$medium-up} {
			margin-bottom:0;
		}

		@media #{$medium-only} {
			max-width:90px;
		}
		.social-overlay {
			display:none !important;
		}
	}
	.list .main-view  {
		@media #{$large-up} {
			.view-img{
			    padding-left: 0;
			    padding-right: 0;
			    .video-overlay {
			    	margin:0;
			    }
			}
			.view-desc {
				padding-right:0;
			}
		}
		@media #{$xsmall-only} {
			.view-img, .view-desc {
			    padding-left: 0;
			    padding-right: 0;
			}
		}
	}
}



// ********* widget ********
#main {
	.widget {
		padding:0;
		margin-top:0;
		margin-bottom:0;
	}
}
.widget.widget_categories {
	ul li {
		color:lighten($body-font-color,50%);
		display:inline-block;
		width:50%;
		padding-right:5%;
		vertical-align:top;
		text-align:right;
		border-bottom:1px solid darken($body-bg, 8%);
		padding-bottom:5px;
		margin-bottom:5px;
		margin-right:-4px;
		font-size:rem-calc(13);
		&:nth-child(2n) {
			padding-right:0;
		}
		a { 

			float:left; 
			width:70%; 
			text-align:left; 
			text-transform:capitalize;
			height:20px;
			overflow:hidden; 
		}
	}
}
.widget {
	margin:0 0 2.2em;
}
// calendar
.widget_calendar {
	caption {
		background-color:darken($body-bg, 12%);
		padding:rem-calc(7 0);
		font-size:rem-calc(16);
	}
	table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
		padding:rem-calc(6);
		text-align:center;
	}
	table tr th, table tr td {
		padding:rem-calc(6px 10px)
	}
	table thead {
		border-bottom:1px solid darken($body-bg, 12%);
	} 
	table tfoot {
		border-top:1px solid darken($body-bg, 12%);
	}
}
.has-form {
	.widget {
		margin:0;
	}
}
.social-small a {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid;
    border-radius: 15px;
    padding: 5px 8px 5px;
    text-align:center;
    &:hover {
    	border-color:$primary-color;
    }
    i {
    	height: 10px;
    	width: 10px;
    }
}
.widget_about_author {
	min-height:rem-calc(150);
	.author_thumb {
		text-align:center;
		img {
			border: 1px solid #999999;
		    height: auto;
		    padding: 4px;
		    width: 80px;
		    float:none;
		    margin:rem-calc(0);
		}
	}
	.author_name {
		text-align:center;
		a {
			font-weight:bold;
			font-size:rem-calc(16);
			span {
				color:lighten($body-font-color,30%);
				display:block;
				font-weight:normal;
				
			}
		}
	}
	@media #{$small-up} {
		.author_thumb {
			text-align:left;
			img {
				float:left;
			    margin:rem-calc(0 15px 0 0);
			}
		}
		.author_name {
			text-align:left;
		}
	}
	
}

.widget_tabs {
	.tabs.radius {
		border-bottom-width:1px;
		dd {
			margin-right:2px;
			line-height:2;
			&:first-child {
		    	margin-left:0;
		    }
			a {
				font-size:rem-calc(14);
			    padding: rem-calc(4 11);
			    border-top:1px solid darken($body-bg, 3%);
			    border-right:1px solid darken($body-bg, 3%);
			    border-left:1px solid darken($body-bg, 3%);

			}
			&.active {
				a {
				    border-top:1px solid scale-color($body-bg, $lightness: -20%);
					border-left:1px solid scale-color($body-bg, $lightness: -20%);
					border-right:1px solid scale-color($body-bg, $lightness: -20%);
					border-bottom:none;
					position:relative;
					top:1px;
				}
			}
		}
	} 
	.tabs-content {
		position:relative;
		top:-1px;
		font-size:rem-calc(14);
		margin-top:0;
		border-radius:$global-radius;
		border-top-left-radius:0;
		border-left:1px solid scale-color($body-bg, $lightness: -20%);
		border-right:1px solid scale-color($body-bg, $lightness: -20%);
		border-bottom:1px solid scale-color($body-bg, $lightness: -20%);
		p {
			font-size:rem-calc(12);
		}
	}
	.author_thumb {
		max-width:35px;
		height:auto;
		position:absolute;
		top:rem-calc(10);
		left:rem-calc(10);
	}
	.tab-detail {
		word-wrap:break-word;
		position:relative;
		padding:rem-calc(10);
		margin-bottom:0;
		&:first-child {
			padding-top:0;
		}
		&:last-child {
			padding-bottom:0;
		}
	}
}
// Advt Widget 
.advt-2c {
	img:first-child {
		margin-right:rem-calc(16);
	}
	.thumb-img {
		margin-bottom:10px;
	}
	@media #{$xsmall-only} {
		img {
			width:46%;
		}
	}
}
.advt-1c {
	img {
		margin-bottom:rem-calc(11);
	}
}
// Social -----------
$facebook:#204385;
$twitter:#2AA9E0;
$linkedin:#02669A;
$pinterest:#CA2128;
$google-plus:#D3492C;
$dribbble:#D97AA6;
$flickr:#DC97C0;
$github:#171515;
$instagram:#C7C5B3;
$skype:#36C4F3;
$tumblr:#4D7EA3;
$youtube:#E0674A;
$youtube-play:#F16261;

.widget_contact_info {
	//SOCIALS
	.social {
	  li a {
	    width:35px;
	    height:35px;
	    padding-top:3px;
	    text-align:center;
	    border:2px solid;
	    color:$body-bg;
	    border-radius:30px;
	    i {
	      line-height:1;
	      font-size:18px;
	    }
	    &.facebook {
	    	background-color:$facebook;
	    	border-color:$facebook;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$facebook;
	    	}
	    }
	    &.twitter {
	    	background-color:$twitter;
	    	border-color:$twitter;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$twitter;
	    	}
	    }
	    &.linkedin {
	    	background-color:$linkedin;
	    	border-color:$linkedin;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$linkedin;
	    	}
	    }
	    &.pinterest {
	    	background-color:$pinterest;
	    	border-color:$pinterest;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$pinterest;
	    	}
	    }
	    &.google-plus {
	    	background-color:$google-plus;
	    	border-color:$google-plus;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$google-plus;
	    	}
	    }
	    &.dribbble {
	    	background-color:$dribbble;
	    	border-color:$dribbble;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$dribbble;
	    	}
	    }
		&.flickr {
	    	background-color:$flickr;
	    	border-color:$flickr;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$flickr;
	    	}
	    }
		&.github {
	    	background-color:$github;
	    	border-color:$github;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$github;
	    	}
	    }
		&.instagram {
	    	background-color:$instagram;
	    	border-color:$instagram;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$instagram;
	    	}
	    }
		&.skype {
	    	background-color:$skype;
	    	border-color:$skype;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$skype;
	    	}
	    }
		&.tumblr {
	    	background-color:$tumblr;
	    	border-color:$tumblr;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$tumblr;
	    	}
	    }
		&.youtube {
	    	background-color:$youtube;
	    	border-color:$youtube;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$youtube;
	    	}
	    }
		&.youtube-play {
	    	background-color:$youtube-play;
	    	border-color:$youtube-play;
	    	&:hover {
	    		background-color:$body-bg;
	    		color:$youtube-play;
	    	}
	    }
	  }
	  &.inline-list > li {
	    display:inline-block;
	    float:none;
	    margin-right:5px;
	    margin-left:0;
	    margin-bottom: 0.75em;
	  }
	}
}



// ********* footer **********
#inner-footer nav ul.dropdown {
	display:none;
}
.footer-widget  {
	.widget {
		margin:1.5rem 0;
	}
	@media #{$xsmall-only} {
		.widget {
			width:100%;
			display:inline-block;
			vertical-align:top;
		}
	}
	@media #{$medium-up} {
		.widget {
			width:50%;
			display:inline-block;
    		vertical-align: top;
		}
	}
	@media #{$large-up} {
		.widget {
			width:25%;
		}
	}
}

// ******** grid-list *********
.list {
	> .main-view {
		&:last-child {
			margin-bottom:0;
		}
	}
	.view-img {
		a {
			.video-overlay {
				margin:0 0 0 0.9375rem;
			}
		}
	}
}
.video-length {
	span {
		display:block;
		color:$body-bg;
		i { padding-right:rem-calc(3); }
	}
}
#main {
	.main-view {
		margin-bottom: rem-calc(30);
	}
}
.view-img {
	margin-bottom:rem-calc(10);
	position:relative;
	
	a {
		display:block;
		overflow:hidden;
		img {
			@include transition-eio;
			width:100%;
		}
		
	}
	
}
.view-desc {
	h6 {
		font-weight:bold;
		color:	scale-color($body-bg, $lightness: -50%);
		margin-bottom:0;
		line-height:1.2;
		a {
			position:relative;
			top:-3px;
		}
	}
	p {
		padding:rem-calc(8 0);
		margin-bottom:0;
		font-size:rem-calc(15);
	}
}
.realated_post .grid {
	[class*="column"] + [class*="column"]:last-child {
		float:left;
	}
}





















// ******** Media Quries ********
@media only screen and (max-width: 999px) {
	.video-overlay {
		display:none;
	}
}
@media only screen and (min-width: 1000px) {
	.view-img {		
		a {
	
			&:hover {
				text-decoration:none;
				.video-overlay {
					opacity:1;
				}
			}
			.video-overlay {
				@include transition-eio;
				opacity:0;
				background-color:rgba(0,0,0,0.5);
			    bottom: 0;
			    left: 0;
			    position: absolute;
			    right: 0;
			    text-align: center;
			    top: 0;
			    vertical-align: middle;
			    i {
			    	color:$primary-color;
			    	font-size:rem-calc(26);
			    	position:absolute;
			    	top:50%;
			    	left:50%;
			    	margin-top:-16px;
			    	margin-left:-8px;
			    }
			}
		}
	}
}
@media #{$small-to}   { 
	.filter.right {
		float:left !important;
		margin-top:rem-calc(10);
	} 
	.meta-transparent-buttons {
		a.button,.button, .disabled-btn {
			font-size:rem-calc(14);
			padding:rem-calc(4 6 3);
			margin-bottom:rem-calc(5);
			i{ padding-right:rem-calc(3);}
		}
		.right {
			float:left !important;
		}
	}
	header.row.listing .listing-header {
		margin-bottom:rem-calc(10);
		margin-top:rem-calc(10);
	}
	.row.detail-title-gravitar {
		margin-bottom:rem-calc(20);
	}
	.row {
		
		&.description {
			margin-bottom:rem-calc(26);
			margin-top:0;
		}
		&.detail-video {
			margin-bottom:rem-calc(0);
		}
		&.listing {
			.listing-header {
				margin-bottom:rem-calc(10);
			}
		}
	}
	.detail-title-gravitar {
		width:100%;
		//padding-left:$column-gutter / 2;
	}
	.tabs-content {
		margin-top:rem-calc(0);
	}
	.tabs {
		&.radius {
			border-bottom:none;
			dd {
				> a {
					@include top-bottom-radius(bottom,$global-radius + 1);
					margin-bottom:rem-calc(5);
				}
				&.active a { 
					border:2px solid scale-color($body-bg, $lightness: -10%);
					margin-bottom:rem-calc(5);
					padding-top: $tabs-navigation-padding - rem-calc(3);
					
					padding-bottom: $tabs-navigation-padding - rem-calc(2);
				}
			}
		}
		&.radius {
		    dd:first-child {
		    	a { 
		    		@include top-bottom-radius(bottom,$global-radius + 1); 
		    		@include top-bottom-radius(top,$global-radius + 1);
		    	}
		    }
		    dd:last-child {
		    	a { 
		    		@include top-bottom-radius(bottom,$global-radius + 1); 
		    		@include top-bottom-radius(top,$global-radius + 1);
		    	}
		    }
		}
	}
	.video-overlay {
		display:none;
	}

	.widget {
		margin:2.2em 0;
	}
}

@media #{$large-up} {
.panel-left {
		width:23%;
		margin-left:rem-calc(17);
	}
}

@media only screen and (max-width: 600px) {
	#wpadminbar {
		top:-46px;
	}
}
@media only screen and (max-width: 54em) {
	.transparent-btn {
	 	a.button, .button, span.button {
			padding:rem-calc(4 6);
			font-size:rem-calc(15);
		}
	}
}
.progress.secondary .meter, .top-bar-section ul li > a.button.secondary, .commentlist li:not(.depth-1) { background:none !important; }
.entry-attachment { margin-bottom:rem-calc(20); }










// ------------------------------------------templatic block end-------------------------------