// custom colors - white
 $body-bg: #fff !default; //#F8F4EB !default;
 $body-font-color: #222 !default; //#222 !default;
 $primary-color: #8A1806 !default;	//#07BA68 !default;	//#444 !default;  
 $secondary-color: #e7e7e7 !default; //#e7e7e7 !default;

 $topbar-bg-color: #333 !default; //#8F1F29 !default;
 $topbar-link-color : #fff !default; //#fff !default;

 $header-font-color: #222 !default; //#222 !default;


// custom colors - black
//$body-bg: #222 !default; //#F8F4EB !default;
//$body-font-color: #aaa !default; //#222 !default;
//$primary-color: #ccc !default;	//#444 !default;  
//$secondary-color: #e7e7e7 !default; //#e7e7e7 !default;

//$topbar-bg-color: #111 !default; //#8F1F29 !default;
//$topbar-link-color : #aaa !default; //#fff !default;

//$header-font-color: #ddd !default; //#222 !default;
h1, h2, h3, h4, h5, h6 {
	a { color:lighten($header-font-color,10%); }
}





// defaults colors
// $body-bg: #FFF !default;   //#fff !default;
// $body-font-color: #222 !default; //#222 !default;
// $primary-color: #008CBA !default;	//#008CBA !default;
// $secondary-color: #e7e7e7 !default; //#e7e7e7 !default;

// $topbar-bg-color: #3f3332 !default; //#3f3332 !default;
// $topbar-link-color : #fff !default; //#fff !default;

// $header-font-color: #222 !default; //#222 !default;