@import
  "common/gallery";

// ***** custom ******
body {
	line-height:$paragraph-line-height;
}
h2,h3 {
	margin-top:1.25rem;
}
.wp-caption,
[class*="wp-image-"],
.entry-content pre,
table {
	margin-top:rem-calc(10);
	margin-bottom:rem-calc(10);
}
blockquote {
	margin-top:rem-calc(10);
	margin-bottom:rem-calc(20);
}
.entry-content input[type="password"] {
	max-width:300px;
}
label {
	&:hover {
		cursor:default;
	}
}
input[type="submit"] {
	@include button;
}
// ******* Star rating ********
.rotate {
    display:block; 
    position:relative;
    left:-1px;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
i.fa-star,
i.fa-star-half {
	display:inline-block;
	color:#ebab3b;
	font-size:rem-calc(16);
	&.grey {
		color:darken($body-bg, 20%);
	}
}
.multi-ratings {
	max-width:250px;
	li {
		list-style:none;
		label {
			display:inline-block;
			vertical-align:top;
			width:115px;
			word-wrap:break-word;
			font-size:rem-calc(14);
		}
		i {
			line-height:1.7;
			margin-right:-4px;
			&:last-child {
				margin-right:0;
			}
			&[class*="-half"] {
				margin-right:0;
				+ [class*="-half"] {
					margin-right:-4px;
				}
			}
		}
	}
	> ul {
		padding:rem-calc(20);
		border:1px solid darken($body-bg, 12%);
		.inline {
			margin-bottom:0;
		}
	}
}
.ratings-inline {
	margin-bottom:rem-calc(20);
	i{
		position:relative;
		top:1px;
		margin-right:-4px;
		&:last-child {
			margin-right:0;
		}
	}
	span {
		font-size:rem-calc(16);
		vertical-align:super;	
	}
	ul {
		margin:0 5px;
		position:relative;
		top:1px;
	}
}


.filter {
	.custom-select {
		background-color: $body-bg;
		border:1px solid darken($body-bg, 12%);
		border-radius:$global-radius + 2;
		width: rem-calc(150);
		overflow:hidden;
		position:relative;
		select {
			color: $body-font-color;
			height:2.45rem;
			font-size:1rem;
			width:rem-calc(200);
			margin-bottom:0;
			background:none;
			border:none;
		}
		i {
			-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
			position:absolute;
			right:rem-calc(10);
			top:rem-calc(8);
			font-size:rem-calc(12);
		}
	}
} 
.filter,
.grid-list-btn {
	.button {
		margin-bottom:0;
		span {
			display:none;
		}
	}
}

#content .grid-list-btn {
	.button-group li {
		> button,
		.button {
			padding:rem-calc(6px 10px 3px);
			background-color: $body-bg;	
			border:1px solid darken($body-bg, 12%);
			margin-left:rem-calc(5);
			color:$body-font-color;
			box-shadow:none !important;
			-webkit-box-shadow:none !important;
			i {
				font-size:rem-calc(16);
				line-height:1;
			}
			&.active {
				background-color: darken($body-bg,12%);		
				border:1px solid darken($body-bg, 20%);
				i {
					color:$body-font-color;
				}
			}
			&:hover {
				background-color: darken($body-bg,12%);		
				border-top:1px solid darken($body-bg, 20%);
				border-bottom:1px solid darken($body-bg, 20%);
				i {
					color:$body-font-color;
				}
				
			}
		}
	}
}


.view-desc {
	.disabled-btn {
		margin-right:rem-calc(8);
	}
}

.category-listing {
	.panel {
		border:none;
		background-color:transparent;
		p {
			color:$body-font-color;
			i {
				margin-right:rem-calc(10);
				float: left;
			    height: 25px;
			    padding-top: 6px;
			    text-align: center;
			    width: 16px;
			    color:darken($body-bg, 40%);
			}
			> span {
				display:table;
			}
		}
		.byline span {
			font-size:rem-calc(13);
			margin:0 1rem 0 0.5rem;
		}
	}
}

.grid {
	-webkit-transition: all 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
	time.edate {
		padding-bottom:0.5rem;
		display:block;
		font-weight:bold;
	}
	.panel {
		padding:0;
		p {
			margin-bottom:0.5rem;
		}
	}
	.star-rating {
	    display: block;
	    float: left;
	    width: 100%;
	    i {
	    	float: left;
    		line-height: 2;
	    }
	}
	.view-desc p {
		display:block;
	}
	.event-list-desc {
		> p {
			display:none;
		}
	}
	@media #{$small-to} {
		time.edate {
			padding-bottom:0;
		}
	}

	@media #{$xsmall-up} {
		.main-view {
			width: 100%;
			display:inline-block;
			vertical-align:top;
		    padding-left: 1.07143rem;
		    padding-right: 1.07143rem;
		    position: relative;	
		    margin-right: 0;
		} 
	}
	@media #{$small-up} {
		.main-view {
			width: 50%;
			display:inline-block;
			vertical-align:top;
		} 
		> .columns {
			margin-bottom:rem-calc(10);
		}
	}
	@media #{$medium-up} {
		.main-view {
			width: 33.3333%;
		} 
	}
	@media #{$large-up} {
		.main-view {
			width: 33.3333%;
		} 
	}
}
.list {
	.panel {
		padding-right:0;
		padding-left:0;
		p {
			margin-bottom:1rem;
		}
	}
	.view-desc {
		p {
	    	padding:0;
	    }
	}
	@media #{$small-to} {
		.event-list-desc {
			> p {
				display:none;
			}
		}
		.main-view {
			width: 50%;
			display:inline-block;
			vertical-align:top;
			padding-left:1.07143rem;
			padding-right:1.07143rem;
			margin-right:-4px;
			.view-img{
				padding-left:0 !important;
			}
		}
	}
	@media #{$xsmall-up} {
		.main-view {
			width: 100%;
			.view-img, .view-desc {
				width:100%;
				float: left;
			    position: relative;	
			    padding-left:0;
			    padding-right:0;
			}
			.view-desc {
				.star-rating {
					position:relative;
					top:0;
				    display: block;
				    float: left;
				    width: 100%;
				    i {
				    	float: left;
			    		line-height: 2;
				    }
				}
				time.edate {
				    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
				    border-radius: 3px;
				    color: #444444;
				    font-size: 14px;
				    font-weight: bold;
				    left: 0;
				    padding: 0;
				    position: relative;
				    text-align: left;
				    text-transform: none;
				    top: 0;
				    .edate-digit {
				    	display:inline-block;
				    }
				}
				.event-list-desc .efields {
					margin-left:0;
				}
			}
		}
	}
	@media #{$small-up} {
		.main-view {
			width: 50%;
			display:inline-block;
			vertical-align:top;
			// padding-left:1.07143rem;
			// padding-right:1.07143rem;
			// margin-right:-4px;
			.view-img,
			&.columns > div:first-child {
				width:100%;
			}
			.view-desc,
			&.columns > div:last-child {
				width:100%;
			}
			
		}

		
		> .row {
			border-bottom:1px solid darken($body-bg, 12%);
			padding-bottom:rem-calc(15);
			margin-bottom:rem-calc(25);
		}
		.event-list-desc .efields {
			.list-ratings {
				position: absolute;
			    right: 15px;
			    top: 0;
			}
		}
		.panel {
			padding:0;
			margin-bottom:0;
			p {
				margin-bottom:0.5rem;
			}
		}
		
	}
	@media #{$medium-up} {
		.main-view {
			width: 100%;
			margin-bottom:rem-calc(25);
			border-bottom:1px solid darken($body-bg, 12%);
			padding-bottom:rem-calc(20);
			&:last-child {
				border-bottom:none;
			}
			.view-img,
			&.columns > div:first-child {
				padding-left: 0;
				width:31.3333%;
				margin-right:0;
			} 
			.view-desc,
			&.columns > div:last-child {
			    padding-left: 0.9375rem;
			    padding-right: 0.9375rem;
			    width:67.6667%;
			    float:right;
			    .star-rating {
					position: absolute;
					right: 0;
					top: 5px;
					width:auto;
					display:inline-block;
					i {
						float:left;
						line-height:1;
					}
				}
				time.edate {
					position:absolute;
					top:2px;
					left:rem-calc(15);
					background-color:$header-font-color;
					border-radius:$global-radius;
					color:$body-bg;
					font-weight:normal;
					text-transform:uppercase;
					padding:0.4rem 0.6rem 0.2rem;
					text-align:center;
					font-size:rem-calc(12);
					.edate-digit {
						font-size:rem-calc(16);
						display:block;
						padding-bottom:3px;
						line-height:1;
					}
				}
				.event-list-desc .efields {
					margin-left:60px;
					h5.subheader {
						padding-right:80px;
					}
				}
			}

		}
	}
}
.event-list-desc .byline {
	> a { display:inline-block; margin-bottom:5px; }
}

// ****** widgets ******
.widget {
	.list {
		@media #{$medium-up} {
			.main-view {
				margin-bottom:rem-calc(15);
				padding-bottom:rem-calc(15);
			}
		}
	}
}


// ******* Footer *******
.footer-bottom .footer-meta {
	padding-top:rem-calc(20);
	border-top:1px solid darken($body-bg,12%);
	@media #{$small-to} {
		.right, .left {
			float:none !important;
			text-align:center;
		}
	}
}
