#main {
	p,
	.entry-content,
	ul, ol, dl {
		font-size:rem-calc(16);
		line-height:1.7;
	}
}
.comment-author cite {
	font-size:rem-calc(16);
}
#main .comment_content {
	p, a {
		font-size:rem-calc(15);
	}
}
.comment .respond-form {
	margin-left:rem-calc(75);
}
.wp-caption img {
	margin-top:0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
}
// ******* header ********
.left-off-canvas-menu li a {
	display: block;
    padding: 3px 0 3px 15px;
}
.top-bar .button {
	line-height: 1;
    padding-bottom: 0.5rem;
    padding-top: 0.54rem;
    padding-left:0;
}
.top-bar-section .has-form {
	padding:0 7px;
}
.more-link {
	text-decoration:underline;
	margin-top:10px;
	display:block;
	&:hover {
		text-decoration:none !important;
	}
} 

.grid {
	-webkit-transition: all 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
	.view-desc {
		p {
			display:none;			
		}
	}
	@media #{$xsmall-up} {
		.main-view {
			margin-right:-4px;
		}
	}
}
.list {
	@media #{$xsmall-up} {
		.main-view {
			.view-img, .view-desc {
			    padding-left: 0.9375rem;
			    padding-right: 0.9375rem;
			}
			.view-img {
				padding-right:0;
			}
		}
	}
}

// ***** sidebar *******
.sidebar .widget .grid,
.sidebar .widget .list {
	@media #{$xsmall-up} {
		.main-view {
			width: 100%;
			padding:0;
			margin-bottom: 1.07143rem;
    		padding-bottom: 1.07143rem;
    		border-bottom:1px solid darken($body-bg, 12%);
    		&:last-child {
    			border-bottom:none;
    		}
			.view-img, .view-desc {
				//width:100%;
				float: left;
			    position: relative;	
			    padding:0;
			}
			.view-img {
				width:25%
			}
			.view-desc {
				width:75%;
				padding-left: 0.9375rem;
			}
		}
	}

	// @media #{$small-up} {
	// 	.main-view {
	// 		.view-img {
	// 			width:33.3333%
	// 		}
	// 		.view-desc {
	// 			width:66.6667%;
	// 			padding-left: 0.9375rem;
	// 		}
	// 	}
	// }
	@media #{$medium-up} {
		.main-view {
			.view-img {
				width:25%
			}
			.view-desc {
				width:75%;
			}
		}
	}
	@media #{$large-up} {
		.main-view {
			.view-img {
				width:25%
			}
			.view-desc {
				width:75%;
			}
		}
	}
}
// ******** slider *********
.orbit-container {
	.orbit-timer {
		> span {
			cursor:pointer;
		}
		&.paused > span {
			border-style:solid;
		}
	} 
	.flex-video {
		margin-bottom:0;
		@media #{$medium-up} {
			width:100%;
			padding-bottom: 40%;
			margin-bottom:0;
		}
	}
	.orbit-slides-container > * .orbit-caption {
		p {
			max-height:50px;
			overflow:hidden;
		}
		@media #{$medium-up} {
			width:100%;
			right:0;
			top:0;
			background-color:darken($body-bg,10%);
			padding:1rem 1.2rem;	
			p {
				color:darken($body-bg, 60%);
				font-size:rem-calc(16);
				line-height:1.5;
				height:265px;
				overflow:hidden;
			}
		}
	}
	.orbit-prev, .orbit-next {
		> span {
			border-style:solid;
		}
	} 
	
	@media #{$medium-up} {
		.orbit-prev, .orbit-next {
			top:41%;
			> span {
				border-style:solid;
			}
		}
	}
	@media #{$xsmall-only} {
		.orbit-caption {
			h2 + p,
			p + a {
				display:none;
			}
		}
	}
	@media #{$small-only} {
		.orbit-caption {
			h2 + p,
			p + a {
				display:none;
			}
		}
	}
} 
.orbit-bullets li {
	cursor:pointer;
}
.comment-author {
	@media #{$medium-up} {
		margin-bottom:rem-calc(8);
	}
}
body ol.commentlist .comment-reply-link {
	@media #{$small-to} {
		float:left;
	}
	@media #{$medium-up} {
	    position: absolute !important;
	    right: 0;
	    top: 6px !important;
	}
}

.grid-list-btn.right {
	@media #{$small-to} {	
		float:left !important;
		width:100%;
		display:block;
	}
	@media #{$xsmall-only} {
		display:none;
	}
}
